@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  html {
    min-height: 100vh;
    background: #f8fafe;
    color: #324063;
  }
}

@layer components {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  .slider {
    height: 100px;
    width: auto;
    margin: auto;
    overflow: hidden;
    position: relative;
  }
  .slideTrack {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  .slide {
    height: 200px;
    width: 250px;
  }
  .imgPartner {
    height: 100px;
    width: 250px;
  }
}

/* animate the image with a fade-in effect */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.button {
  transition: transform 0.2s ease-in-out;
}

.button:active {
  transform: scale(0.95);
}

.homepage1 img {
  animation: fadeIn 1s ease-in-out;
}

/* animate the text with a slide-in effect */
@keyframes slideIn {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.homepage1 > div {
  animation: slideIn 1s ease-in-out;
}

/* animate the button with a scale-in effect */
@keyframes scaleIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

button {
  animation: scaleIn 1s ease-in-out;
}
.animate-fade-in {
  animation: fade-in 1s ease-in-out;
}

.animate-slide-in-right {
  animation: slide-in-right 1s ease-in-out;
}

.animate-slide-in-left {
  animation: slide-in-left 1s ease-in-out;
}

.animate-scale-in {
  animation: scale-in 1s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes scale-in {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.homepage2 {
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.homepage22 {
  animation: zoomIn 1s ease;
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.form-container {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  margin-bottom: 7rem;
  animation-name: slide-in;
  animation-duration: 5s;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.elandev2 {
  animation: swirl 5s infinite;
}
.elandev4 {
  animation: fadeInLeft 1s ease;
  animation-fill-mode: forwards;
}
.animate-fade-in-right {
  animation: fadeInRight 1s ease;
  animation-fill-mode: forwards;
}
.animate-flicker {
  animation: flicker 0.5s linear infinite alternate;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes swirl {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.elandevcontact {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animate-slide-left {
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animate-slide-right {
  animation-name: slideInRight;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

animate-fadeIn {
  animation: fadeIn 1s ease-in-out;
  animation-fill-mode: both;
}

.elanaccelerate {
  animation: fadeInUp 1s ease-in-out;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-container {
  position: relative;
  width: 50%;
  overflow: hidden;
  border-radius: 50%;
  animation: spin 10s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-overlay {
  width: 30%;
}

@media (max-width: 768px) {
  .image-container {
    width: 100%;
  }

  .text-overlay {
    width: 100%;
  }
}

.chat-bg::before {
  display: block;
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: 0;
  opacity: 0.08;
  background-image: url(https://elfsight.com/assets/chats/patterns/whatsapp.png);
}

.chat-box {
  padding: 7px 14px 6px;
  background-color: rgb(255, 255, 255);
  border-radius: 0px 8px 8px;
  position: relative;
  transition: all 0.3s ease 0s;
  opacity: 1;
  transform-origin: center top;
  z-index: 2;
  box-shadow: rgb(0 0 0 / 13%) 0px 1px 0.5px;
  margin-top: 4px;
  margin-left: -22px;
  max-width: calc(100% - 66px);
  visibility: hidden;
  opacity: 0;
  transition: margin-left 0.3s ease 0s, opacity 0.3s ease 0s,
    visibility 0.3s ease 0s;
}

.chat-box.show {
  visibility: visible;
  opacity: 1;
  margin-left: 0px;
}

.chat-box::before {
  position: absolute;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAmCAMAAADp2asXAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAACQUExURUxpccPDw9ra2m9vbwAAAAAAADExMf///wAAABoaGk9PT7q6uqurqwsLCycnJz4+PtDQ0JycnIyMjPf3915eXvz8/E9PT/39/RMTE4CAgAAAAJqamv////////r6+u/v7yUlJeXl5f///5ycnOXl5XNzc/Hx8f///xUVFf///+zs7P///+bm5gAAAM7Ozv///2fVensAAAAvdFJOUwCow1cBCCnqAhNAnY0WIDW2f2/hSeo99g1lBYT87vDXG8/6d8oL4sgM5szrkgl660OiZwAAAHRJREFUKM/ty7cSggAABNFVUQFzwizmjPz/39k4YuFWtm55bw7eHR6ny63+alnswT3/rIDzUSC7CrAziPYCJCsB+gbVkgDtVIDh+DsE9OTBpCtAbSBAZSEQNgWIygJ0RgJMDWYNAdYbAeKtAHODlkHIv997AkLqIVOXVU84AAAAAElFTkSuQmCC);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  top: 0px;
  left: -12px;
  width: 12px;
  height: 19px;
}

.chat-time {
  text-align: right;
  margin-top: 4px;
  font-size: 12px;
  line-height: 16px;
  color: rgba(17, 17, 17, 0.5);
  margin-right: -8px;
  margin-bottom: -4px;
}

.chat-name {
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.4);
}

.chat-message {
  font-size: 14px;
  line-height: 19px;
  margin-top: 4px;
  color: rgb(17, 17, 17);
}

.chat-btn {
  padding: 8px 12px;
  border-radius: 24px;
  border: none;
  background: rgb(0, 201, 98);
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  cursor: pointer;
  position: relative;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  margin: 20px;
  overflow: hidden;
  -webkit-appearance: none;
  appearance: none;
}

.whatsapp-svg {
  width: 16px;
  height: 16px;
  flex: 0 0 16px;
  fill: rgb(255, 255, 255);
  z-index: 1;
  margin-right: 7px;
}

.chat-whatsapp-icon {
  width: 32px;
  height: 32px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.replies-in {
  font-size: 13px;
  line-height: 18px;
  margin-top: 4px;
  color: rgb(29, 33, 41);
}

.name-head {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(29, 33, 41);
}

.need-btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#wa-box.show {
  animation: fadeInUp ease 0.5s;
  -webkit-animation: fadeInUp ease 0.5s;
  animation-fill-mode: forwards;
  display: block !important;
}

#wa-box.hide {
  animation: fadeOutDown ease 0.5s;
  -webkit-animation: fadeOutDown ease 0.5s;
  animation-fill-mode: forwards;
  display: block !important;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeOutDown {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  to {
    transform: translate3d(0, 40px, 0);
    opacity: 0;
  }
}

@-webkit-keyframes fadeOutDown {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  to {
    transform: translate3d(0, 40px, 0);
    opacity: 0;
  }
}
